<launch>

 <node name="serial_node" pkg="rosserial_python" type="serial_node.py" 
	output="screen" 
	launch-prefix="xterm -e">
	<param name="port" value="/dev/ttyUSB0" />
	<param name="baud" value="9600" />
  </node>

  <node name="sol_ctrl" pkg="solenoid_ctrl" type="sol_ctrl.py">
  </node>

  <node name="key_sub" pkg="solenoid_ctrl" type="key_sub.py"
	output="screen"
	required="true">
  </node>

  <node name="sol_status_echo" pkg="rostopic" type="rostopic" 
	output="screen" 
	args="echo /sol_status" 
	launch-prefix="xterm -e">
  </node>

</launch>
